<% include partials/header %>
<section class="Landing-Page">
<div class="Landing-Background">
    
<h1 class="Landing-H1">Yelp Camp</h1>
<a href="/campgrounds" class="btn-landing">View All Campgrounds</a>
</div>
</section>


<% include partials/footer %>