<% include partials/header %>


<header class="bg-image" id="landing-header">
  <div class="landing-container">
    <h1 class="landingh1">Yelp  Camp</h1>
    <a href="/campgrounds" class="btn-landing">Adventure Now!</a>
  </div>
</header>


<% include partials/footer %>